body{
    background-color: whitesmoke;
    height: 100%;
}
nav{
    background-color: #A9A9A9;
    
}
.nav-element{
    border-color: #6C3483;
    border-style: solid;
    border-width: 1px;
    color: #6C3483;
}
.nav-list{
    border-color: #6C3483;
    border-left-style: solid;
    border-width: 1px;
}
button{
    background-color: lightgrey;
}
.btn.connection{
    color: #6C3483;
    border-color: #6C3483;
    border-style: solid;
    border-width: 1px;
}
#pseudo{
    color: #6C3483;
}
.formulaire{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.row.error{
    position:absolute;
    margin:auto;
    left: 10%;
}
.form-control{
    color: #6C3483;
    border-color: #6C3483;
    border-style: solid;
    border-width: 1px;
}